.meet_staff {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(300px, auto);
  }
  .item_one {
    grid-column: 1;
    grid-row: 1 / 3;
    text-align: center;
    border: solid;
  }
  .woods { 
    border: solid;
    background-image: url("http://assets.leaguestat.com/whl/240x240/27249.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tsmith {
    border: solid;
    background-image: url("http://assets.leaguestat.com/whl/240x240/27208.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .zummack {
    border: solid;
    background-image: url("http://whl.uploads.s3.amazonaws.com/app/uploads/spokane_chiefs/2017/09/07113513/Zummack_Eli-320x320.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mcgrew {
    border: solid;
    background-image: url("http://whl.uploads.s3.amazonaws.com/app/uploads/spokane_chiefs/2017/09/07113437/McGrew_Jake-320x320.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .chorney {
    border: solid;
    background-image: url("http://whl.uploads.s3.amazonaws.com/app/uploads/spokane_chiefs/2016/09/13115051/Chorney_Carter-1-320x320.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .reid {
    border: solid;
    background-image: url("http://assets.leaguestat.com/whl/240x240/26627.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item_eight {
    grid-column: 3;
    grid-row: 3 / 5;
    text-align: center;
    border: solid;
  }
  .beckman {
    border: solid;
    background-image: url("https://pbs.twimg.com/profile_images/1049008951818244096/F92-KKOu_400x400.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mcindoe {
    border: solid;
    background-image: url("https://scontent-lhr3-1.cdninstagram.com/vp/b92d445c76bec0cb188ba706d1c3d231/5C33AC96/t51.2885-15/e35/39568912_272274943387594_7362868976767991808_n.jpg?ig_cache_key=MTg1NzA0ODE2Mjk2MTE5MTU1NA%3D%3D.2?se=1");
    background-repeat: no-repeat;
    background-size: cover;
  }

.item_one, 
.item_eight {
  text-align: center;
  font-size: 25pt;
  padding-top: 260px;
}

header {
    background-image: url("http://whl.uploads.s3.amazonaws.com/app/uploads/spokane_chiefs/2016/01/06131259/Generic203.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: flex-start;
    color: white;
    padding: 15px 50px 500px 15px;
}

nav p {
    background-color: #c51230;
    padding: 10px;
}

a {
  color: white;
}

.coaches {

}

footer {
  background-color: #c51230;
  padding: 50px;
  font-size: 17pt;
}

ul {
  text-align: center;
}

ul li {
  display: inline-block;
  color: white; 
  padding: 0px 40px;
}

/* Media Queries */

@media only screen and (max-width: 650px) {
    body {
        background-color: lightblue; 
}